{{#extends "base"}}
{{#block "content"}}
<style>
    h1{
        color: #333;
        font-size:26px;
        margin-bottom:20px;
        padding: 0;
        margin-top: 20px;
        text-decoration:underline;
    }
    .table-header {
        background-color: #f2f2f2;
        font-weight: bold;
    }
</style>

<h1>ALL PRODUCTS</h1>
<table class="table">
    <thead class="table-header">
        <th>Product ID</th>
        <th>Name</th>
        <th>Cost</th>
        <th>Description</th>
        <th>Location</th>
        <th></th>
    </thead>
    {{#each products}}
    <tr>
        <td>
            {{this.id}}
        </td>
        <td>
            {{this.name}}
        </td>
        <td>
            {{this.cost}}
        </td>
        <td>
            {{this.description}}
        </td>
        <td>
            {{this.location}}
        </td>
        <td>
            <a href = "/products/update-product/{{this.id}}"
            class="btn btn-primary btn-sm">Update</a>
            <a href = "/products/delete-product/{{this.id}}"
            class="btn btn-danger btn-sm">Delete</a>
        </td>
    </tr>
    {{/each}}
</table>
{{/block}}

{{/extends}}