{{#extends "base"}}
{{#block "content"}}
<style>
    h1 {
        color: #333;
        font-size: 26px;
        margin-bottom: 20px;
        padding: 0;
        margin-top: 20px;
        text-decoration: underline;
    }

    .table-header {
        background-color: #f2f2f2;
        font-weight: bold;
    }

    .product-image {
        max-width: 80px;
        /* Adjust maximum width as needed */
        max-height: 80px;
        /* Adjust maximum height as needed */
    }
</style>

<h1>ALL PRODUCTS</h1>
<h2>Search</h2>
<form method="GET" class="small-search-form">
    <i class="fa fa-search" aria-hidden="true"></i>
    {{{searchForm}}}
    <input type="hidden" name="_csrf" value="{{csrfToken}}"/>
    <input type="submit" class="btn btn-primary mt-3" />

</form>
{{!-- <table class="table">
    <thead class="table-header">
        <th>Product ID</th>
        <th>Name</th>
        <th>Cost</th>
        <th>Description</th>
        <th>Location</th>
        <th>Category Id</th>
        <th>Tags</th>
        <th></th>
    </thead>
    {{#each products}}
    <tr>
        <td>
            {{this.id}}
        </td>
        <td>
            {{this.name}}
        </td>
        <td>
            {{this.cost}}
        </td>
        <td>
            {{this.description}}
        </td>
        <td>
            {{this.location}}
        </td>
        <td>

            {{this.category.name}}
        </td>
        <td>
            {{#each this.tags}}
            <span class="badge rounded-pill bg-success">{{this.name}}</span>

            {{/each}}
        </td>
        <td>
            <img src="{{this.image_url}}" alt="{{this.name}}" class="product-image">
        </td>
        <td>
            <a href="/products/update-product/{{this.id}}" class="btn btn-primary btn-sm">Update</a>
            <a href="/cart/{{this.id}}/add" class="btn btn-warning btn-sm">Add To Cart</a>
        </td>
    </tr> --}}
    
     <div class="row">
         {{#each products}}
        <div class="col-md-2">
           <div class="card mb-2" style="width: 13rem;">
        <img src="{{this.image_url}}" class="card-img-top" style="width: 13rem; height:10rem" alt="image">
        <div class="card-body" style="height:13rem">

            <h5 class="card-title">{{this.name}}</h5>
            {{!-- <p class="card-text">{{this.description}}</p> --}}
            <p class="card-text">
                <span class="text-muted me-2"><s>${{this.cost}}</s></span>
                <span>{{this.cost}}</span>
            </p>
            {{#each this.tags}}
            <span class="badge rounded-pill bg-success">{{this.name}}</span>

            {{/each}}
            <a href="/cart/{{this.id}}/add" class="btn btn-warning btn-sm mt-2">Add To Cart</a>
            <a href="/products/delete-product/{{this.id}}" class="btn btn-danger btn-sm mt-2">Delete</a>
        </div>
     </div>
        </div>  
    
{{/each}}
</div>
   {{!--
   {{/each}}
</table> 
   --}} 
{{/block}}

{{/extends}}